name: Update README
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 * * * *"

permissions: {}

jobs:
  markscribe:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable'

      - run: go run github.com/muesli/markscribe@d838b6e71dc673e8a3ef248b0e75fbd44ce8cc4c -write README.md templates/README.md.tpl 
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: Update generated README
          branch: main
